.DS_Store
.env
.venv/
__pycache__/
*.pyc

frontend/node_modules/
frontend/dist/
frontend/*.tsbuildinfo
frontend/tailwind.config.d.ts
frontend/tailwind.config.js
frontend/vite.config.d.ts
frontend/vite.config.js

infra/terraform/.terraform/
infra/terraform/build/
infra/terraform/tfplan
infra/terraform/terraform.tfstate
infra/terraform/terraform.tfstate.backup
infra/terraform/terraform.tfvars

.playwright-mcp/